name: Build Audio Plugin

on: [push]

jobs:
  build_mac:
    name: Build macOS
    runs-on: macos-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Install JUCE
      # We download JUCE directly into the runner so we don't need to upload it
      run: git clone https://github.com/juce-framework/JUCE.git --depth 1 --branch master

    - name: Configure CMake
      # We tell CMake where to look
      run: cmake -B build -DJUCE_BUILD_EXTRAS=ON

    - name: Build
      # This actually compiles the code
      run: cmake --build build --config Release

    - name: Zip the VST3
      # Zip the resulting folder so your friend can download it
      run: |
        cd build/Tremolo_artefacts/Release/VST3
        zip -r Tremolo_Mac.zip Tremolo.vst3

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Tremolo-Mac-VST3
        path: build/Tremolo_artefacts/Release/VST3/Tremolo_Mac.zip